/* urls style */
body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 2rem;
}

/* Principes */
.principe {
  margin-bottom: 4rem;
}

.principe__title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.principe__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  margin-right: 2rem;
}

.principe__description {
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* Richtlijnen */
.richtlijn {
  margin-bottom: 2rem;
}

.richtlijn__title {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.richtlijn__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height:3.5rem;
  border-radius: 50%;
  background-color: #f39c12;
  color: #fff;
  font-weight: bold;
  margin-right: 1rem;
}

/* Succescriteria */
.succescriterium {
  margin-bottom: 1rem;
}

.succescriterium__title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.succescriterium__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #2ecc71;
  color: #fff;
  font-weight: bold;
  margin-right: 0.5rem;
}


/* form styling*/
.form-container {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.form-fieldset {

  border: none;
  padding: 0;
  margin-top:4rem;
}

.form-legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-select,
.form-input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.form-select {
  appearance: none;
  background: #fff
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8.5 11.5l4.5-4.5H3z"/></svg>')
    no-repeat 95% center;
  background-size: 1rem;
  padding-right: 2rem;
}

.form-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover,
.form-button:focus {
  background-color: #0069d9;
}

.urls-list {
  display: grid;
  margin-top: 2rem;
  list-style: none;
  
}

.url-item {
align-items: center;
  font-size: 1rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: #f1f1f1;
}

/* nav styling */

nav {
  background-color: rgb(5, 47, 153);
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* li {
  flex-grow: 1;
  text-align: center;
} */

a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
}

a:hover {
  background-color: #444;
}