:root{
  --cool_medium_purple :#7c7aae;
}
/* urls style */
body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.principe {
  font-family: Arial, sans-serif;
  color:aliceblue;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--cool_medium_purple);
  border-radius: 10px;
  align-content: center;
}

.principe__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: auto 0;
}

.principe__number {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
}

.principe__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.richtlijn {
  margin-bottom: 20px;
  padding-left: 30px;
  border-left: 2px ;
}

.richtlijn__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.richtlijn__number {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: #026d0f;
  color: #fff;
}

details {
  margin-left: 30px;
  color: rgb(128, 159, 199);
}

details summary {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

details p {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.succescriterium {
  margin-top: 10px;
  padding-left: 30px;
}

.succescriterium__title {
  font-size: 16px;
  font-weight: bold;
}

.succescriterium__number {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  
  color: #fff;
}



/* form styling*/
.form-container {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.form-fieldset {

  border: none;
  padding: 0;
  margin-top:4rem;
}

.form-legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-select,
.form-input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.form-select {
  appearance: none;
  background: #fff
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8.5 11.5l4.5-4.5H3z"/></svg>')
    no-repeat 95% center;
  background-size: 1rem;
  padding-right: 2rem;
}

.form-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover,
.form-button:focus {
  background-color: #0069d9;
}

.urls-list {
  margin-top: 2rem;
  list-style: none;
  padding-inline: 0;

  
}

.url-item {
  align-items: center;
  font-size: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: #7c7aae;
  max-width: 100%;
  height: auto;
  margin-block: 2rem;

}

/* nav styling */

nav {
  background-color: rgb(5, 47, 153);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  flex-grow: 1;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
}

a:hover {
  background-color: #444;
}

/* head */
.a-header-img{
  max-width:100%;
  height: auto;
}
.b-header-img{
  max-width:100%;
  height: auto;
}